{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<form method="post" class="container">
    <h2 style="margin-left: 40px;">Create or join a room</h2>
    <div class="text-bubble">
        <div class="triangle-left"></div>
        <input type="text" placeholder="Room Code" name="code" value="{{ code }}"/>
        <button class="primary-btn join-btn popup-btn" type="submit" name="join">Join a Room</button>
    </div>
    <div class="text-bubble">
        <div class="triangle-right"></div>
        <button class="create-btn" type="submit" name="create">
            <img src="/static/images/svg/create.svg" alt="logout icon" class="icon">
            <h3>Create a Room</h3>
        </button>
    </div>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
</form>
{% endblock %}